/* @font-face {
    font-family: 'gilroyextrabold';
    src: url('assets/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('assets/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: 'cera_promedium';
    src: url('assets/cera_pro_medium-webfont.woff2') format('woff2'),
         url('assets/cera_pro_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
    padding: 0;
    margin: 0;
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url("img/bg.jpg");
    background-position: top center;
    background-size: 100% 850px;
    background-repeat: no-repeat; */
}

body {
    box-sizing: border-box;
    /* background: url("img/bg.jpg") center center/cover no-repeat fixed #ccc; */   
}
.nav-banner {
    background-image: url(img/bg.jpg);
    background-position: top center;
    background-size: 100% 850px;
    background-repeat: no-repeat;
}
nav {
    width: 70%;
    padding-top: 2rem;
    margin: 0 auto;
    border-bottom: 1px solid white;
    padding-bottom: 2rem;
}
.banner-nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
li {
    list-style: none;
}
li h1 {
    font-family: 'cera_promedium';
    font-size: 2rem;
}
li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    letter-spacing: .2rem;
}
button {
    padding: 5px 20px;
    border: 1px solid white;
    background: transparent;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
.banner {
    width: 70%;
    margin: 30rem auto 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
}
.banner h1 {
    font-size: 80px;
    /* text-shadow: 1px 1px 3px rgba(150, 150, 150, 1); */
    letter-spacing: 0.3rem;
    /* font-family: 'gilroyextrabold'; */
    font-family: 'cera_promedium';
}
/* This is kind of weird */
.banner h1:first-letter { 
    margin-left: -6px
}
.banner p {
    letter-spacing: .2rem;
    font-size: 14px;
    /* text-shadow: 1px 1px 3px rgba(150, 150, 150, 1); */
    /* text-transform: uppercase; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr {
    width: 100px;
    height: 2px;
    background: white;
    border: none;
    /* box-shadow: 1px 1px 3px rgba(150, 150, 150, 1); */
    margin-bottom: 4rem;
}
.black-line {
    width: 100px;
    height: 2px;
    background: #1c1c1c;
    border: none;
    /* box-shadow: 1px 1px 3px rgba(150, 150, 150, 1); */
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.location {
    margin-bottom: 2rem;
}
.split2 {
    align-self: flex-end;
    font-size: 32px;
    opacity: 0.8;
    margin-bottom: 2rem;
}
.split2 a {
    color: white;
}
.discover {
    margin: 0 auto;
    display: flex;
    width: 100%;
}
.discover-left {
    width: 50%;
    height: 600px;
    background: #be9b27;
}
.discover-left-text {
    color: white;
    padding-top: 8rem;
    margin: 0 auto;
    width: 65%;
    line-height: 1.5;
    letter-spacing: .1rem;
}
.discover-left-text h2 {
    padding-bottom: 1rem;
}
.discover-right {
    width: 50%;
    height: 600px;
}
.discover-right h5 {
    margin-top: 3rem;
    letter-spacing: .2rem;
    float: right;
    font-size: 15px;
    padding-right: 10rem;
}
.first-img {
    position: absolute;
    width: 30%;
    height: auto;
    left: 56rem;
    top: 60rem;
    -webkit-box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
    -moz-box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
    box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
}
.destinations {
    width: 100%;
    height: 600px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 6rem;
}
.destinations-right h5 {
    letter-spacing: .2rem;
    float: right;
    font-size: 15px;
    padding-right: 10rem;
}
.destinations-left {
    flex: 1;
}
.destinations-left-text {
    color: #1c1c1c;
    width: 50%;
    line-height: 1.5;
    letter-spacing: .1rem;
    margin-left: 10.5rem;
    font-size: 25px;
}
.destinations-middle {
    width: 60%;   
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.second-img {
    width: 60%;
    height: auto;
    -webkit-box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
    -moz-box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
    box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
}
.destinations-right {
    flex: 1; 
    align-self: flex-start;  
}
.destinations-right-text {
    color: #1c1c1c;
    line-height: 1.5;
    letter-spacing: .1rem;
    margin-left: 2.5rem;
    margin-top: 4rem;
}
.history {
    background-image: url(img/laos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 50%;
}
.history h5 {
    letter-spacing: .2rem;
    float: right;
    font-size: 15px;
    padding-right: 10rem;
}
.culture {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.culture {
    color: #1c1c1c;
    padding-top: 8rem;
    margin: 0 auto;
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 1.5;
    letter-spacing: .1rem;
}
.blog {
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: 0 auto;
}
.culture-left {
    height: 600px;
    background: white;
    margin: 15px;
    text-align: center;
}
.culture-left-text h2 {
    padding-bottom: 1rem;
}
.culture-middle {
    margin: 15px; 
    text-align: center;
}
.culture-right { 
    height: 600px;
    margin: 15px;
    text-align: center;
}
.img1 {
    -webkit-box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
    -moz-box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
    box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
}
.culture-left img {
    max-width: 500px;
    height: auto;
}
.culture-middle img {
    max-width: 500px;
    height: auto;
}
.culture-right img {
    max-width: 500px;
    height: auto;
}
.blog p {
    line-height: 1.5;
    letter-spacing: .1rem; 
    margin-top: 1rem;
    font-weight: 700;
}
.lower-banner {
    background-image: url("img/laos-1938023_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}
footer {
    height: 490px;
    width: 100%;
    background: rgb(53, 52, 52);
    color: rgb(221, 221, 221);
}
.footer {
    display: flex;
    justify-content: space-between;
    width: 82%;
    padding-top: 5rem;
    margin: 0 auto;
}
.links h4 {
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: .1rem;
}
input {
    margin-top: 25px;
    border: none;
    height: 32px;
    width: 250px;
}
.bottom {
    width: 82%;
    margin: 7.5rem auto 0 auto;
    display: flex;
    align-items: center;
}
.bottom h1 {
    margin-right: 100px;
}
.bottom ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom li {
    margin-right: 50px;
    margin-bottom: 1rem;
}
.bottom i {
    font-size: 35px;
}
.footer-hr {
    width: 1100px;
    height: 2px;
    background: white;
    border: none;
    margin: 0 auto;
    /* box-shadow: 1px 1px 3px rgba(150, 150, 150, 1); */
}


/* MEDIA QUERIES */
@media screen and (max-width: 500px) {
  
}
@media screen and (max-width: 768px) {
    nav {
        width: 90%;
        padding-top: 2rem;
        margin: 0 auto;
        border-bottom: 1px solid white;
        padding-bottom: 2rem;
    }
    .first-img {
        position: absolute;
        width: 50%;
        height: auto;
        left: 21rem;
        top: 64rem;
        -webkit-box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
        -moz-box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
        box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
    }
    .discover-left {
        width: 50%;
        height: 600px;
        background: #be9b27;
    }
    .discover-left-text {
        color: white;
        padding-top: 3rem;
        margin: 0 auto;
        width: 75%;
        line-height: 1.5;
        letter-spacing: .1rem;
    }
    .discover-right h5 {
        margin-top: 3rem;
        letter-spacing: .2rem;
        float: right;
        font-size: 15px;
        padding-right: 2rem;
    }
    .destinations {
        width: 100%;
        height: 600px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        margin-top: 7rem;
    }
    .destinations-left-text {
        color: #1c1c1c;
        width: 60%;
        line-height: 1.5;
        letter-spacing: .1rem;
        margin-left: 3rem;
        font-size: 18px;
    }
    .destinations-right h5 {
        letter-spacing: .2rem;
        font-size: 15px;
        padding-right: 4.5rem;
    }
    .destinations-middle {
        width: 60%;   
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .destinations-right-text {
        color: #1c1c1c;
        line-height: 1.5;
        letter-spacing: .1rem;
        margin-left: 2rem;
        margin-top: 4rem;
}
    .second-img {
        width: 80%;
        height: auto;
        -webkit-box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
        -moz-box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
        box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
    }
    .history h5 {
        letter-spacing: .2rem;
        float: right;
        font-size: 15px;
        padding-right: 3.5rem;
    }
    .blog {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 769px) and (max-width: 1170px) {
    .first-img {
        position: absolute;
        width: 40%;
        height: auto;
        left: 34rem;
        top: 61rem;
        -webkit-box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
        -moz-box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
        box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
    }
    .discover-right h5 {
        margin-top: 3rem;
        letter-spacing: .2rem;
        float: right;
        font-size: 15px;
        padding-right: 6rem;
    }
    .destinations {
        width: 100%;
        height: 600px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        margin-top: 7rem;
    }
    .destinations-left-text {
        color: #1c1c1c;
        width: 60%;
        line-height: 1.5;
        letter-spacing: .1rem;
        margin-left: 6rem;
        font-size: 22px;
    }
    .destinations-right h5 {
        letter-spacing: .2rem;
        font-size: 15px;
        padding-right: 4.5rem;
    }
    .destinations-middle {
        width: 60%;   
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .destinations-right-text {
        color: #1c1c1c;
        line-height: 1.5;
        letter-spacing: .1rem;
        margin-left: 2rem;
        margin-top: 4rem;
}
    .second-img {
        width: 80%;
        height: auto;
        -webkit-box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
        -moz-box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
        box-shadow: 3px 6px 16px -3px rgba(0,0,0,0.83);
    }
    .history h5 {
        letter-spacing: .2rem;
        float: right;
        font-size: 15px;
        padding-right: 7.5rem;
    }
    .culture-left img {
        max-width: 350px;
        height: auto;
    }
    .culture-middle img {
        max-width: 350px;
        height: auto;
    }
    .culture-right img {
        max-width: 350px;
        height: auto;
    }
    .culture-left {
        height: 350px;
        background: white;
        margin: 10px;
        text-align: center;
    }
    .culture-left-text h2 {
        padding-bottom: 1rem;
    }
    .culture-middle {
        margin: 10px; 
        text-align: center;
    }
    .culture-right { 
        margin: 10px;
        text-align: center;
    }
    .blog {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }
}

/* #ff784f coral */
/* #e47830 deep carrot orange */
/* #c8ad55 vegas gold */
/* #f18f01 Tangerine */
 