* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background: url("img/bg.jpg") center center/cover no-repeat fixed #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    width: 70%;
    margin: 3rem auto;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
    list-style: none;
}
li a {
    text-decoration: none;
    color: white;
    letter-spacing: .2rem;
}
button {
    padding: 5px 20px;
    border: 1px solid white;
    background: transparent;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
