* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    /* background: url("img/bg.jpg") center center/cover no-repeat fixed #ccc; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("img/bg.jpg");
    background-position: top center;
    background-size: 100% 800px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav {
    width: 70%;
    margin: 3rem auto;
    border-bottom: 1px solid white;
    padding-bottom: 2.5rem;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
li {
    list-style: none;
}
li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    letter-spacing: .2rem;
}
button {
    padding: 5px 20px;
    border: 1px solid white;
    background: transparent;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
.banner {
    width: 70%;
    margin: 26.5rem auto 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
}
.banner h1 {
    font-size: 80px;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
    padding: 0;
    letter-spacing: 0.3rem;
}
.banner p {
    letter-spacing: .2rem;
    font-size: 14px;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
    text-transform: uppercase;
}
hr {
    width: 85px;
    height: 2px;
    background: white;
    border: none;
    box-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
    margin-bottom: 4.5rem;
}
.split2 {
    align-self: flex-end;
}
